h1{
	text-align:left;
}
h2{
	text-align:center;
  color: rgb(77, 0, 0);
  font-weight: bold;
}
h3{
	text-align:center;
}

body{
	background-image:url('violin-2.jpg');
	background-repeat:no-repeat;
  background-size:cover;
	background-position:center;
}

p {
    font-family: serif, "Times New Roman", Times;
}

.container {
	width:85%;
	height:250px;
	min-width:600px;
	margin-bottom:50px;
	margin-top:40px;
	text-align:center;
	margin:auto;
	padding-top:50px;
}

.blue-white-red {
	font-size:20px;
  background-image: linear-gradient(to right, rgb(59, 0, 102)22%, rgb(230, 236, 255) 50%, rgb(128, 0, 0));
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background-image: url('circle-1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center;
  float:left;
	padding-top:15px;
}

.empty{
	float:left;
	width:30%;
}

.quote{
	width:50%;
	text-align:right;
	float:right;
	padding-top:90px;
}

.about{
	padding-top:5px;
	padding-right:200px;
	color:rgb(107, 0, 179);
	text-align:left;
	clear:both;
}
